body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: url('./img/restaurant-menu-bg.jpg') fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  margin-bottom: 0;
}

.container {
  margin: 50px 50px;
}

.title {
  text-align: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container ul {
  padding-left: 0;
  text-align: center;
  margin-top: 40px;
}

.button-container ul li {
  padding: 50px;
}

button {
  margin: 5px;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: bold;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.menu-item {
  justify-content: center;
  margin: 50px 0;
}

.menu-item-header {
  display: flex;
  justify-content: space-between;
  max-height: 30px;
  /* padding: 0 25px; */
  border-bottom: 1px dotted;
}

h4 {
  margin: 5px;
}

.menu-item img {
  width: 200px;
  height: 150px;
  border: 1px solid;
}


@media (min-width: 1024px) {
  
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  
  .menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-content: center;
    justify-items: center;
  }
  
  .menu-item {
    display: grid;
    grid-template-columns: 200px 300px;
    grid-template-rows: 50px;
    max-width: 50rem;
    column-gap: 20px;
  }
  
  .menu-item-header {
    display: flex;
    justify-content: space-between;
  }
  
  .menu-item-desc {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  
}