body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: url('./img/restaurant-menu-bg.jpg') fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  margin-bottom: 0;
  font-family: 'Beau Rivage', cursive;
  font-size: 68px;
}

.container {
  margin: 50px 50px;
}

.title {
  text-align: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container ul {
  padding-left: 0;
  text-align: center;
  margin-top: 40px;
}

.button-container ul li {
  padding: 50px;
}

button {
  margin: 5px;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: bold;
}

button:hover {
  background-color: brown;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* margin: 0 50px; */
}

.menu-item {
  justify-content: center;
  margin: 50px 0;
}

.menu-item-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted;
  margin-top: 15px;
}

h4 {
  margin: 5px;
}

.menu-item img {
  width: 200px;
  height: 150px;
  border: 4px solid antiquewhite;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media (min-width: 768px) {
  
  .menu-container {
    margin: 0 150px;
  }

}


@media (min-width: 1024px) {
  
  .button-container {
    padding: 20px 0;
  }
  
  .menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 25px;
    align-content: center;
    justify-items: center;
  }
  
  .menu-item {
    display: grid;
    grid-template-columns: 200px 300px;
    grid-template-rows: 50px;
    max-width: 50rem;
    column-gap: 20px;
  }
  
  .menu-item-header {
    margin: 0 5px;
    max-height: 30px;
  }
  
  .menu-item-desc {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  
}