body {
  font-size: 16px;
}

.container {
  margin: 50px 50px;
}

.title {
  text-align: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container ul {
  padding-left: 0;
  text-align: center;
  margin-top: 40px;

}

.button-container ul li {
  padding: 50px;
}

button {
  margin: 5px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.menu-item {
  justify-content: center;
  margin: 50px 0;
}

.menu-item-header {
  display: flex;
  justify-content: space-between;
  max-height: 100px;
  padding: 0 25px;
}

.menu-item img {
  width: 200px;
  height: 150px;
  border: 1px solid;
}


@media (min-width: 768px) {

  .container {
    margin: 50px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  
  .menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /* margin: 0 150px; */
    align-content: center;
    justify-items: center;
  }
  
  .menu-item {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 70px;
    max-width: 50rem;
    column-gap: 20px;
  }
  
  .menu-item-header {
    display: flex;
    justify-content: space-between;
    max-height: 50px;
  }
  
  .menu-item-desc {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  
  .menu-item img {
    width: 200px;
    height: 150px;
    border: 1px solid;
  }
}